<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/search.css">
</head>
<body>
    <div class="idx">
        <h1>Addictive Media - Test Assignment</h1>

        <div>
            <button><a href="/listing"> Go to Lists</a>
    </button>
    <button>
        <a href="/input">Add +</a>
    </button>
    </div>
    </div>
</body>
</html>